#title{
  background-color: #ff4c68;
    color: white;
}

.container-fluid{
  padding: 3% 15%;
}

body{
  font-family: 'Montserrat-Bold', sans-serif;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 4rem;
}
.navbar{
  padding: 0 0 4.5rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-family: "Montserrat-light", sans-serif;
  font-size: 2rem;
}

.button-download{
  margin: 1.2rem 1.2rem 1.2rem 0;
}

.title-image{
  padding: 1.2rem 0;
  width: 40%;
  transform: rotate(20deg);
  margin-left: 170px;
}

#features{
  background: white;

}



.feature-box{
  text-align: center;
  padding: 5% 0;
}

#testimonials{
  text-align: center;
  background: #ff4c68;
  color: #fff;

}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item{
  padding: 7% 15%;
}

#press{
  background: #ff4c68;
  text-align: center;
  padding-bottom: 3%;

}

.press-image {
  width: 15%;
  margin: 20px 20px 50px;
}

#pricing {
  padding: 10% 0;
  text-align: center;
}

.pricing-column {
  margin-top: 2%;
}

#cta{
  background-color: #ff4c68;
  color: white;
  padding: 10% 0;
}
#footer{
  background-color: #ff4c68;
}

h6{
  font-family: 'Montserrat-Light', sans-serif;
  color: white;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-size: 5rem;
}

h2{
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  line-height: 1.5;
}


h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;

}

p{
  font-family: 'Montserrat-Light', sans-serif;
  color: #8f8f8f;
  font-size: 1.5rem;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}
