body{
  font-family: Montserrat;
}



#title{
  background: #ff4c68;
  color: #fff;
}

h1{
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

.btn-img{
  margin: auto;
}

.container-fluid{
  padding: 3% 15%;
}


/* Navigation bar */

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-style: "Montserrat";
  font-size: 1.2rem;
  font-weight: 500;
}


/* Download buttons */


.download-button{
  margin: 5% 3% 5% 0;
}


/* Title-image */

.title-image{
  width: 60%;
  transform: rotate(25deg);
  margin-bottom: -250px;
}

/* usage */

#usage{
  position: relative;
  padding: 7% 15%;
  text-align: center;
  background: white;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.5;
}

.usage-image{
  font-size: 5rem;
  color: #ff4c68;
}

.usage-padding{
  padding: 5%;
}

.ptext{
  color: #8f8f8f;

}

.alink:hover{
   color: #B23548;
}



/* Testimonial section */


#testimonial{

  background: #ff4c68;
  color: #fff;
  text-align: center;

}

h2{
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image{
  border-radius: 50%;
  height: 9rem;
  margin: 20PX;
}

#testimonial h2{
  padding: 7% 15% 5%;
}



/* Press */



#press{
  background: #ff4c68;
  color: #fff;
  text-align: center;
  padding: 5% 0;
}

.press-image{
  width: 10rem;
  margin: 20px 20px 50px;
}



/* Pricing */

#pricing{
  text-align: center;
  padding: 7% 10%;
}

.card{
  margin: 10px 0;
}

#cta{
  background: #ff4c68;
  color: white;
  text-align: center;
  padding: 5% 15%;
}

#cta h3{
  font-size: 3.5rem;
}

#footer{
  background: white;
  text-align: center;
  padding: 5% 15%;
}

@media (max-width: 950px) {

  .title-image{
    width: 60%;
    display: inline-block;
    transform: rotate(0deg);
    margin-bottom: 0;
  }

  .container-fluid{
    padding: 1% 2%;
  }

  #title{
    text-align: center;
  }

  #usage{

    padding: 1% 2%;
    text-align: center;
  }

  .usage-padding{
    padding: 0;
  }

  #testimonial h2{
    padding: 1% 11%;
  }

  #press{
    padding: 1% 0;
  }

  #cta{
    padding: 1% 2%;
  }


}
